@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #121212;
  --color-secondary: #16ea9e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Sulphur Point', sans-serif;
  background-color: var(--color-primary);
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
  background-position: 0 0;
}
